:root {
  --text-color: #393e46;
  --bg-color: #edeef7;
  --branding-color: #7868e6;
  --secondary-color: #b8b5ff;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--heading-font-family);
  color: var(--text-color);
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}
p {
  color: var(--text-color);
  font-size: 18px;
  line-height: 1.5;
}
a {
  text-decoration: none;
  color: var(--branding-color);
}
a:hover {
  color: var(--secondary-color);
}
.content {
  line-height: 1.5;
  background-color: var(--bg-color);
}
.container {
  max-width: 800px;
}
.container h3 {
  font-family: var(--default-font-family);
  font-size: 20px;
  margin-top: 10px;
}
.container p {
  font-size: 14px;
  opacity: 0.7;
  margin-bottom: 5px;
}
.tech-container {
  max-width: 400px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.hero {
  max-width: 100%;
  padding: 100px 50px;
  background-color: var(--bg-color);
}
.hero p {
  font-weight: bold;
  margin: 0;
}
.hero h2 {
  font-family: var(--default-font-family);
  font-size: 18px;
}
.primary-button {
  border: 1px solid;
  background-color: var(--branding-color);
  color: var(--bg-color);
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
}
.secondary-button {
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
}
.project-desc {
  padding: 20px 20px;
}
.project-link {
  font-size: 12px;
}
.block {
  display: block;
}
.center {
  text-align: center;
}
.icon {
  font-size: 24px;
  color: var(--branding-color);
  padding-bottom: 10px;
}
.icon a {
  font-family: var(--default-font-family);
  font-size: 12px;
}
.navbar-brand {
  color: var(--branding-color) !important;
}
.active {
  color: var(--branding-color) !important;
  opacity: 0.7;
}
.footer p {
  font-size: 12px;
  opacity: 0.7;
}

@media (max-width: 960px) {
  h1 {
    font-size: 34px;
  }
  .hero-desc {
    text-align: center;
  }
  .project-desc {
    padding: 0;
    text-align: center;
  }
  .footer p {
    font-size: 8px;
  }
  .icon-text {
    font-size: 10px;
  }
}
